<div id="signIn">
    <div class="ui-g">
        <div class="ui-g-12 title">
            <h1>First Timer Sign up</h1>
        </div>
        <div class="ui-g-5 col">
            <div class="formTitle">
                   <h3>New to the CodeStack meetup?</h3>
                   <h3>Please enter your information.</h3>
            </div>

            <div id="signInForm">
                <form formGroupName="signIn">
                    <div class="textInput">
                        <span class="ui-float-label">
                            <input id="float-input" type="text" size="30" formControlName="firstName" pInputText>
                            <label for="float-input">First Name</label>
                        </span>
                    </div>
                    <div class="textInput">
                        <span class="ui-float-label">
                            <input id="float-input" type="text" size="30" formControlName="lastName" pInputText>
                            <label for="float-input">Last Name</label>
                        </span>
                    </div>
                    <div class="textInput">
                        <span class="ui-float-label">
                            <input id="float-input" type="email" size="30" formControlName="email" pInputText>
                            <label for="float-input">Email</label>
                        </span>
                    </div>
                    <cms-button></cms-button>
                </form>
            </div>
        </div>
        <div class="ui-g-2 col">sdf</div>
        <div class="ui-g-5 col">sdf</div>
    </div>
</div>